.button {
  outline: none;
  border: none;
  box-shadow: 0px 0px 0px 3px var(--color-border-19);
  border-radius: 6px;
  cursor: pointer;

  transition: box-shadow 150ms;
}

.medium {
  padding: 6px 10px 5px;
  font-family: var(--font-primary);
  font-size: 16px;
  color: var(--color-text-primary);
}

.large {}

.primary {
  background: var(--gradient-primary);

  &:hover {
    box-shadow: 0px 0px 0px 4px var(--color-border-30);
  }

  &:active {
    box-shadow: 0px 0px 0px 2px var(--color-border-19);
  }
}

.secondary {}