@import './ui-kit/colors.css';
@import './ui-kit/fonts.css';
@import './ui-kit/constants.css';
@import './ui-kit/animations/easings.css';


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: var(--color-background-primary);
}

:global(#root) {
  height: 100vh;
}
