:root {
  /* border */
  --color-border-19: rgba(0, 170, 224, 0.19);
  --color-border-30: rgba(0, 170, 224, 0.30);

  /* background */
  --color-background-primary: #282F39;
  --color-background-secondary: #7B87A3;

  /* text */
  --color-text-primary: #FFFFFF;

  /* gradient */
  --gradient-background: linear-gradient(180deg, #1F252F 0%, #27303E 100%);
  --gradient-primary: linear-gradient(180deg, #3E9FFF 0%, #00AAE0 100%);
}
