.button {
  outline: none;
  border: none;
  box-shadow: 0px 0px 0px 3px var(--color-border-19);
  border-radius: 6px;
  font-family: var(--font-primary);
  font-size: 16px;
  color: var(--color-text-primary);
  cursor: pointer;

  transition: box-shadow 150ms, color 150ms;
}

.medium {
  padding: 6px 10px 5px;
}

.large {
  padding: 15px 30px 14px;
}

.primary {
  background: var(--gradient-primary);

  &:hover {
    box-shadow: 0px 0px 0px 4px var(--color-border-30);
  }

  &:active {
    box-shadow: 0px 0px 0px 2px var(--color-border-19);
  }
}

.secondary {
  background: var(--color-button-secondary);
  color: var(--color-text-button-secondary-80);
  box-shadow: none;
  font-weight: 700;
  
  &.medium {
    padding: 8px 12px 7px;
  }

  &:hover {
    color: var(--color-text-button-secondary)
  }
}