.input {
  outline: none;
  padding: 14px 18px;
  border: 1px solid var(--color-border-input);
  background-color: var(--color-backgound-input);
  font-family: var(--font-primary);
  font-weight: 700;
  font-size: 18px;
  border-radius: 6px;
  color: var(--color-text-secondary-dark);
  transition: color 100ms;

  &:focus {
    color: var(--color-text-primary);
    box-shadow: 0px 0px 0px 4px var(--color-border-accent);
    border: 1px solid var(--color-border-input-focus);
  }
}
