.deals {
  display: flex;
  flex-direction: column;
}

.dateCell {
  font-weight: 400;
}

.body {
  .row {
    &:hover {
      .remove {
        opacity: 1;
        transform: scale(1);
      }
    }
  }
}

.remove {
  display: inline-block;
  opacity: 0;
  transform: scale(0.3);
  transition: transform 300ms ease-out;
}

.pagination {
  align-self: center;
  margin: 30px 0;
}
