@import '../../ui-kit/breakpoints.css';

.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-background-modal);
  backdrop-filter: blur(40px);
  font-family: var(--font-primary);
  font-size: 24px;
  color: var(--color-text-primary);

  @supports not (backdrop-filter: blur(40px)) {
    background-color: var(--color-background-modal-fallback);
  }
}

.content {
  --spacing: 20px;

  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: var(--spacing);
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - var(--spacing)*2);
  max-width: 500px;
  height: 100%;
  max-height: 430px;
  padding: 20px 30px;
  background-color: var(--color-background-modal-content);
  box-shadow: 0px 24px 24px rgba(0, 0, 0, 0.25);
  border-radius: 16px;

  @media (--breakpoint-m) {
    transform: translate(-50%, -50%);
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
